@import "lib.less";
/*
* banner
*/
.swiper-container{
	position: relative;
	.wh(100%, 750px);
	min-width: 1200px;
	.swiper-slide{
		.wh(100%, 750px);
		a{
			display: block;
			.wh(100%, 750px);
			img{
				.wh(100%, 100%);
			}
		}
	}
	.pagination{
		position: absolute;
		left: 0;
		bottom: 30px;
		.whh(100%, 15px);
		text-align: center;
		z-index: 20px;
	}
	.swiper-pagination-switch {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: @b;
		margin: 0 6px;
		opacity: 0.8;
		cursor: pointer;
	}
	.swiper-visible-switch {
		background: @009c43;
	}
	.swiper-active-switch {
		background: @009c43;
	}
}
/*
* 妙课堂
*/
/*
* 妙课堂
*/
/*
* 妙课堂
*/


/******************************
**********   wap端   **********
******************************/
@media only screen and (max-width: 750px){
/*
* banner
*/
.swiper-container{
	.wh(100%, 750/1920*750px);
	min-width: 750px;
	.swiper-slide{
		.wh(100%, 750/1920*750px);
		a{
			.wh(100%, 750/1920*750px);
			img{
				.wh(100%, 100%);
			}
		}
	}
}
/*
* 妙课堂
*/
}