@charset "utf-8";
/*
* 通用常量
*/
/*
* 通用函数
*/
/*
* 活动信息
*/
.info {
  margin-bottom: 0.26666667rem;
  width: 10rem;
  border-bottom: 0.02666667rem solid #cccccc;
  background-color: #ffffff;
}
.info_theme,
.info_classify,
.info_start,
.info_end,
.info_cost,
.info_place {
  padding: 0.26666667rem;
  width: 9.46666667rem;
  font-size: 0.4rem;
  color: #333333;
  border-top: 0.02666667rem solid #cccccc;
  overflow: hidden;
}
.info_theme span,
.info_classify span,
.info_start span,
.info_end span,
.info_cost span,
.info_place span {
  float: left;
  width: 1.73333333rem;
  line-height: 0.66666667rem;
}
.info_theme input,
.info_classify input,
.info_start input,
.info_end input,
.info_cost input,
.info_place input {
  float: right;
  width: 7.73333333rem;
  line-height: 0.66666667rem;
  text-align: right;
  border: none;
}
.info_theme p,
.info_classify p,
.info_start p,
.info_end p,
.info_cost p,
.info_place p {
  float: right;
  padding-right: 0.53333333rem;
  width: 7.2rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  text-align: right;
  background: url(../img/icon/arrow_right.png) no-repeat;
  background-size: 0.53333333rem 0.53333333rem;
  background-position: right center;
}
/*
* 活动文字及图片
*/
.sketch {
  margin-bottom: 0.26666667rem;
  padding: 0.26666667rem;
  width: 9.46666667rem;
  background-color: #ffffff;
}
.sketch_text {
  margin-bottom: 0.26666667rem;
}
.sketch_text textarea {
  padding: 0.26666667rem;
  width: 8.93333333rem;
  height: 3.86666667rem;
  line-height: 0.66666667rem;
  font-size: 0.4rem;
  color: #333333;
  border: none;
  background-color: #eeeeee;
}
.sketch_box {
  overflow: hidden;
}
.sketch_box .sketch_img {
  position: relative;
  float: left;
  width: 1.61333333rem;
  height: 1.61333333rem;
  border: 0.02666667rem solid #999999;
}
.sketch_box .sketch_img img {
  display: block;
  width: 100%;
  height: 100%;
}
.sketch_box .sketch_img input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.61333333rem;
  height: 1.61333333rem;
  border: none;
  opacity: 0;
}
.sketch_box h2 {
  float: right;
  margin-bottom: 0.06666667rem;
  width: 7.33333333rem;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  font-size: 0.48rem;
  color: #333333;
}
.sketch_box p {
  float: right;
  width: 7.33333333rem;
  line-height: 0.53333333rem;
  font-size: 0.4rem;
  color: #666666;
}
/*
* 文字说明
*/
.explain {
  padding: 0.26666667rem;
  padding-bottom: 1.54666667rem;
  width: 9.46666667rem;
  background-color: #ffffff;
}
.explain h2 {
  margin-bottom: 0.13333333rem;
  line-height: 0.66666667rem;
  font-size: 0.48rem;
  color: #333333;
}
.explain p {
  line-height: 0.53333333rem;
  font-size: 0.4rem;
  color: #666666;
}
/*
* 底部发布
*/
.release {
  position: fixed;
  bottom: 0;
  left: 0;
}
.release button {
  width: 10rem;
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: 0.48rem;
  color: #ffffff;
  text-align: center;
  background-color: #fe6986;
}
