@charset "utf-8";
/*
* 通用常量
*/
@r: 75rem;
@s1: 36/@r;
@s2: 30/@r;
@s3: 24/@r;
@c3: #333333;
@c6: #666666;
@c9: #999999;
@cf: #ffffff;
@c0: #000000;
@ce: #eeeeee;
@fe6986: #fe6986;
@ef434f: #ef434f;
@fe4a54: #fe4a54;
@ff4358: #ff4358;
@bebebe: #bebebe;

/*
* 通用函数
*/
.wh(@w, @h) {
  width: @w;
  height: @h;
}

.squ(@x) {
  width: @x;
  height: @x;
}

.whh(@w, @h) {
  width: @w;
  height: @h;
  line-height: @h;
}

.fc(@s, @c) {
  font-size: @s;
  color: @c;
}

.bgc(@c) {
  background-color: @c;
}

.bgs(@x, @y) {
  background-size: @x @y;
}

.bgp(@x, @y) {
  background-position: -@x -@y;
}

.bgx(@x) {
  background-position-x: -@x;
}

.bgy(@y) {
  background-position-y: -@y;
}

//单行溢出隐藏
.dan() {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//多行溢出隐藏
.duo(@x) {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @x;
  -webkit-box-orient: vertical;
}

//弹性布局
.tanhz() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}