@charset "utf-8";
/*
* 通用常量
*/
/*
* 通用函数
*/
/*
* 顶部信息栏
*/
.top {
  padding: 0 0.26666667rem;
  width: 9.46666667rem;
  height: 4.93333333rem;
  background: url(../img/bg.png) no-repeat;
  background-size: 10rem 4.66666667rem;
  background-position: center top;
  background-color: #ffffff;
}
.top_header {
  margin-bottom: 1.2rem;
  padding: 0.33333333rem 0;
  height: 0.73333333rem;
}
.top_header .top_left {
  display: block;
  width: 0.73333333rem;
  height: 0.73333333rem;
  background: url(../img/icon/return.png) no-repeat;
  background-size: 0.36666667rem 1.50333333rem;
  background-position: left top;
}
.top_inf {
  position: relative;
  padding-left: 2.66666667rem;
  width: 6.8rem;
  height: 2.06666667rem;
}
.top_inf img {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.33333333rem;
  height: 2.33333333rem;
  border-radius: 0.10666667rem;
}
.top_inf h1 {
  line-height: 0.66666667rem;
  font-size: 0.48rem;
  color: #ffffff;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.top_inf p {
  line-height: 0.66666667rem;
  font-size: 0.4rem;
  color: #ffffff;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*
* 群组信息
*/
.info {
  margin-bottom: 0.26666667rem;
  padding: 0 0.26666667rem;
  width: 9.46666667rem;
  background-color: #ffffff;
  overflow: hidden;
}
.info_member,
.info_notice,
.info_activity,
.info_label,
.info_condition,
.info_owner,
.info_time {
  position: relative;
  padding: 0.4rem 0 0.4rem 1.46666667rem;
  width: 8rem;
  min-height: 1.62666667rem;
}
.info_icon {
  position: absolute;
  top: 0.4rem;
  left: 0;
}
.info_icon img {
  display: block;
  margin-bottom: 0.2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.info_icon p {
  line-height: 0.42666667rem;
  font-size: 0.4rem;
  color: #666666;
  text-align: center;
}
.info_text p {
  line-height: 0.48rem;
  font-size: 0.4rem;
  color: #666666;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.info_member .info_num {
  display: block;
  margin-bottom: 0.26666667rem;
  line-height: 0.53333333rem;
  font-size: 0.4rem;
  color: #333333;
  background: url(../img/icon/arrow_right.png) no-repeat;
  background-size: 0.53333333rem 0.53333333rem;
  background-position: right center;
}
.info_member .info_num span {
  margin-left: 0.33333333rem;
}
.info_member .info_img {
  width: 6.86666667rem;
  height: 1.17333333rem;
  overflow: hidden;
}
.info_member .info_img a {
  float: left;
  margin-right: 0.2rem;
  width: 1.17333333rem;
  height: 1.17333333rem;
  border-radius: 50%;
  overflow: hidden;
}
.info_member .info_img a img {
  display: block;
  width: 100%;
  height: 100%;
}
.info_label {
  padding-bottom: 0.26666667rem;
  width: 8.13333333rem;
  overflow: hidden;
}
.info_label span {
  float: left;
  margin-right: 0.13333333rem;
  margin-bottom: 0.13333333rem;
  padding: 0.13333333rem 0.2rem;
  font-size: 0.4rem;
  color: #333333;
  background-color: #eeeeee;
}
.info_owner a {
  display: block;
  width: 1.46666667rem;
  height: 1.46666667rem;
  border-radius: 0.66666667rem;
  overflow: hidden;
}
.info_owner a img {
  display: block;
  width: 100%;
  height: 100%;
}
.info_time .info_text p {
  line-height: 1rem;
}
/*
* 申请加入
*/
.join {
  padding: 0.66666667rem 0;
  width: 100%;
  background-color: #ffffff;
}
.join_btn {
  display: block;
  margin: auto;
  width: 3.4rem;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  font-size: 0.48rem;
  color: #ffffff;
  text-align: center;
  border-radius: 0.26666667rem;
  background-color: #ef434f;
}
