@charset "utf-8";
/*
* 通用常量
*/
/*
* 通用函数
*/
body {
  background-color: #ffffff;
}
/*
* 创建表单
*/
.found {
  width: 10rem;
}
.found_img {
  position: relative;
  padding: 0.66666667rem 0;
  border-bottom: 0.02666667rem solid #eeeeee;
}
.found_img div {
  display: block;
  margin: auto;
  margin-bottom: 0.33333333rem;
  width: 2.08rem;
  height: 2.08rem;
  border-radius: 0.13333333rem;
  border: 0.02666667rem solid #999999;
  overflow: hidden;
}
.found_img div img {
  display: block;
  width: 2.08rem;
  height: 2.08rem;
}
.found_img p {
  line-height: 0.42666667rem;
  font-size: 0.4rem;
  color: #333333;
  text-align: center;
}
.found_img input {
  position: absolute;
  top: 0.66666667rem;
  left: 50%;
  margin-left: -1.06666667rem;
  width: 2.13333333rem;
  height: 2.13333333rem;
  border-radius: 0.13333333rem;
  opacity: 0;
}
.found_name,
.found_label,
.found_condition,
.found_summary {
  padding: 0.26666667rem;
  width: 9.46666667rem;
  line-height: 0.66666667rem;
  font-size: 0.4rem;
  color: #333333;
  border-bottom: 0.02666667rem solid #eeeeee;
}
.found_name input,
.found_label input,
.found_condition input,
.found_summary input,
.found_name textarea,
.found_label textarea,
.found_condition textarea,
.found_summary textarea {
  display: block;
  width: 100%;
  border: none;
}
.found_name textarea,
.found_label textarea,
.found_condition textarea,
.found_summary textarea {
  height: 2.66666667rem;
}
.found_submit {
  padding-top: 0.86666667rem;
}
.found_submit input {
  display: block;
  margin: auto;
  width: 8.88rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  font-size: 0.48rem;
  color: #ffffff;
  text-align: center;
  border-radius: 0.13333333rem;
  border: none;
  background-color: #fe6986;
}
