@charset "utf-8";
body {
  background-color: #ffffff;
}
/*
* banner板块
*/
.banner_contain {
  width: 100%;
  height: auto;
  min-width: 1200px;
}
.banner_contain a {
  display: block;
  width: 100%;
  height: auto;
}
.banner_contain a .banner_img {
  display: block;
  width: 100%;
  height: auto;
}
/*
* 下列板块通用
*/
