@charset "utf-8";
/*
* 通用常量
*/
/*
* 通用函数
*/
/*
* banner板块
*/
.banner {
  width: 10rem;
  height: auto;
  line-height: 0;
}
.banner a {
  display: block;
  width: 100%;
  height: auto;
}
.banner a .banner_img {
  width: 100%;
  height: auto;
}
/*
* 尾部板块
*/
.tail {
  padding-top: 0.6rem;
  width: 10rem;
  height: 4.66666667rem;
  text-align: center;
  background: url(../img/index/footer.png) no-repeat;
  background-size: 10rem 5.26666667rem;
}
.tail_icon {
  display: block;
  margin: auto;
  margin-bottom: 0.33333333rem;
  width: 0.96rem;
  height: 0.96rem;
  background: url(../img/index/icon.png) no-repeat;
  background-size: 0.96rem 0.96rem;
}
.tail h1 {
  margin-bottom: 0.26666667rem;
  width: 100%;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.4rem;
  color: #ffffff;
}
.tail p {
  margin-bottom: 0.4rem;
  width: 100%;
  height: auto;
  line-height: 0.42666667rem;
  font-size: 0.24rem;
  color: #cbddf0;
}
.tail button {
  display: block;
  margin: auto;
  width: 3.17333333rem;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.26666667rem;
  color: #ffffff;
  border-radius: 0.33333333rem;
  border: 0.01333333rem solid #ffffff;
  background-color: transparent;
}
