@charset "utf-8";
body {
  background-color: #ffffff;
}
/*
* banner板块
*/
.banner_contain {
  width: 10rem;
  height: 6.66666667rem;
}
.banner_contain a {
  display: block;
  width: 100%;
  height: 100%;
}
.banner_contain a .banner_img {
  width: 100%;
  height: 100%;
}
/*
* 系统介绍板块
*/
.introduce_contain {
  width: 10rem;
  height: auto;
}
.introduce_contain .introduce_title {
  padding: 0.93333333rem 0 0.8rem;
  width: 100%;
  height: auto;
  line-height: auto;
}
.introduce_contain .introduce_title h1 {
  margin-bottom: 0.24rem;
  width: 100%;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.37333333rem;
  color: #333333;
  font-weight: bold;
  text-align: center;
}
.introduce_contain .introduce_title b {
  display: block;
  margin: auto;
  margin-bottom: 0.2rem;
  width: 1.2rem;
  height: 0.09333333rem;
  border-radius: 0.04rem;
  background-color: #249fdf;
}
.introduce_contain .introduce_title p {
  margin: auto;
  width: 9.4rem;
  height: auto;
  line-height: 0.42666667rem;
  font-size: 0.24rem;
  color: #999999;
}
.introduce_contain .introduce_box {
  padding-bottom: 0.84rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.introduce_contain .introduce_box li {
  float: left;
  width: 3.33333333rem;
  height: auto;
}
.introduce_contain .introduce_box li i {
  display: block;
  margin: auto;
  margin-bottom: 0.17333333rem;
  width: 1.85333333rem;
  height: 1.92rem;
  background: url(../img/digital/elves.png) no-repeat;
  background-size: 5.46666667rem 3.86666667rem;
}
.introduce_contain .introduce_box li p {
  margin: auto;
  width: 2.66666667rem;
  height: auto;
  line-height: 0.42666667rem;
  font-size: 0.24rem;
  color: #333333;
  text-align: center;
}
.introduce_contain .introduce_box li:nth-child(1) i {
  background-position: 0 0;
}
.introduce_contain .introduce_box li:nth-child(2) i {
  background-position: -1.86666667rem 0;
}
.introduce_contain .introduce_box li:nth-child(3) i {
  background-position: -3.72rem 0;
}
/*
* 核心技术板块
*/
.core_contain {
  width: 10rem;
  height: 7.6rem;
  background-color: #f4f8ff;
}
.core_contain .core_title {
  padding: 0.66666667rem 0 0.84rem;
  width: 100%;
  height: auto;
}
.core_contain .core_title h1 {
  margin-bottom: 0.24rem;
  width: 100%;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.37333333rem;
  color: #333333;
  font-weight: bold;
  text-align: center;
}
.core_contain .core_title b {
  display: block;
  margin: auto;
  width: 1.2rem;
  height: 0.09333333rem;
  border-radius: 0.04rem;
  background-color: #249fdf;
}
.core_contain .core_box {
  position: relative;
  margin: auto;
  width: 9.04rem;
  height: 4.21333333rem;
}
.core_contain .core_center {
  margin: auto;
  width: 4.58666667rem;
  height: 4.21333333rem;
  text-align: center;
  background: url(../img/digital/core.png) no-repeat;
  background-size: 4.58666667rem 4.21333333rem;
  background-position: center center;
}
.core_contain .core_center h2 {
  padding-top: 1.78666667rem;
  margin-bottom: 0.10666667rem;
  width: 100%;
  height: 0.34666667rem;
  line-height: 0.34666667rem;
  font-size: 0.32rem;
  color: #ffffff;
}
.core_contain .core_center p {
  width: 100%;
  height: 0.17333333rem;
  line-height: 0.17333333rem;
  font-size: 0.14666667rem;
  color: #ffffff;
}
.core_contain .core_both {
  position: absolute;
  top: 0;
  left: 0;
  width: 9.04rem;
  height: 4.21333333rem;
}
.core_contain .core_both li {
  position: absolute;
  width: 1.89333333rem;
  height: 0.53333333rem;
}
.core_contain .core_both li i {
  float: left;
  margin: 0.2rem 0;
  width: 0.13333333rem;
  height: 0.13333333rem;
  border-radius: 50%;
  background-color: #7dc6f1;
}
.core_contain .core_both li span {
  float: left;
  margin: 0 0.09333333rem;
  width: 1.44rem;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  font-size: 0.24rem;
  color: #ffffff;
  text-align: center;
  border-radius: 0.26666667rem;
  background-color: #249fdf;
}
.core_contain .core_both li:nth-child(1) {
  top: 0;
  left: 0.46666667rem;
}
.core_contain .core_both li:nth-child(2) {
  top: 0;
  right: 0.46666667rem;
}
.core_contain .core_both li:nth-child(3) {
  top: 1.22666667rem;
  left: 0;
}
.core_contain .core_both li:nth-child(4) {
  top: 1.22666667rem;
  right: 0;
}
.core_contain .core_both li:nth-child(5) {
  bottom: 1.22666667rem;
  left: 0;
}
.core_contain .core_both li:nth-child(6) {
  bottom: 1.22666667rem;
  right: 0;
}
.core_contain .core_both li:nth-child(7) {
  bottom: 0;
  left: 0.46666667rem;
}
.core_contain .core_both li:nth-child(8) {
  bottom: 0;
  right: 0.46666667rem;
}
/*
* 系统生态板块
*/
.ecology_contain {
  width: 10rem;
  height: auto;
}
.ecology_contain .ecology_title {
  padding: 0.86666667rem 0 1.33333333rem;
  width: 100%;
  height: auto;
}
.ecology_contain .ecology_title h1 {
  margin-bottom: 0.24rem;
  width: 100%;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.37333333rem;
  color: #333333;
  font-weight: bold;
  text-align: center;
}
.ecology_contain .ecology_title b {
  display: block;
  margin: auto;
  width: 1.2rem;
  height: 0.09333333rem;
  border-radius: 0.04rem;
  background-color: #249fdf;
}
.ecology_contain .ecology_bg {
  width: 10rem;
  height: 5.6rem;
  background: url(../img/digital/bg.png) no-repeat;
  background-size: 10rem 5.6rem;
  background-position: center center;
}
.ecology_contain .ecology_box {
  position: relative;
  top: -0.66666667rem;
  margin: auto;
  width: 8.64rem;
  height: 5.73333333rem;
  border-radius: 0.26666667rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 -0.13333333rem 0.4rem 0 #b8e2f7;
  box-shadow: 0 -0.13333333rem 0.4rem 0 #b8e2f7;
}
.ecology_contain .ecology_box li {
  float: left;
  padding-top: 0.6rem;
  width: 2.88rem;
  height: 2.26666667rem;
}
.ecology_contain .ecology_box li i {
  display: block;
  margin: auto;
  margin-bottom: 0.2rem;
  width: 0.88rem;
  height: 0.93333333rem;
  background: url(../img/digital/elves.png) no-repeat;
  background-size: 5.46666667rem 3.86666667rem;
}
.ecology_contain .ecology_box li p {
  margin: auto;
  width: 1.44rem;
  height: auto;
  line-height: 0.42666667rem;
  font-size: 0.24rem;
  color: #333333;
  text-align: center;
}
.ecology_contain .ecology_box li:nth-child(1) i {
  background-position: 0 -1.93333333rem;
}
.ecology_contain .ecology_box li:nth-child(2) i {
  background-position: -0.88rem -1.93333333rem;
}
.ecology_contain .ecology_box li:nth-child(2) p {
  width: 1.92rem;
}
.ecology_contain .ecology_box li:nth-child(3) i {
  background-position: -1.76rem -1.93333333rem;
}
.ecology_contain .ecology_box li:nth-child(4) i {
  background-position: -2.64rem -1.93333333rem;
}
.ecology_contain .ecology_box li:nth-child(5) i {
  background-position: -3.52rem -1.93333333rem;
}
.ecology_contain .ecology_box li:nth-child(5) p {
  width: 1.92rem;
}
.ecology_contain .ecology_box li:nth-child(6) i {
  background-position: -4.4rem -1.93333333rem;
}
/*
* 系统优势板块
*/
.edge_contain {
  width: 10rem;
  height: 13.6rem;
  background-color: #f6f6f6;
}
.edge_contain .edge_title {
  padding: 0.66666667rem 0 0.53333333rem;
  width: 100%;
  height: auto;
}
.edge_contain .edge_title h1 {
  margin-bottom: 0.24rem;
  width: 100%;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.37333333rem;
  color: #333333;
  font-weight: bold;
  text-align: center;
}
.edge_contain .edge_title b {
  display: block;
  margin: auto;
  width: 1.2rem;
  height: 0.09333333rem;
  border-radius: 0.04rem;
  background-color: #249fdf;
}
.edge_contain .edge_box {
  margin: auto;
  width: 9.73333333rem;
  height: 10.93333333rem;
}
.edge_contain .edge_box li {
  float: left;
  margin: 0.13333333rem;
  padding-top: 0.45333333rem;
  width: 4.6rem;
  height: 4.74666667rem;
  background-color: #ffffff;
  border-radius: 0.06666667rem;
  -webkit-box-shadow: 0 0.06666667rem 0.2rem 0 #e2e2e2;
  box-shadow: 0 0.06666667rem 0.2rem 0 #e2e2e2;
}
.edge_contain .edge_box li i {
  display: block;
  margin: auto;
  margin-bottom: 0.4rem;
  width: 0.93333333rem;
  height: 0.98666667rem;
  background: url(../img/digital/elves.png) no-repeat;
  background-size: 5.46666667rem 3.86666667rem;
}
.edge_contain .edge_box li h2 {
  margin-bottom: 0.46666667rem;
  width: 100%;
  height: 0.34666667rem;
  line-height: 0.34666667rem;
  font-size: 0.29333333rem;
  color: #333333;
  font-weight: bold;
  text-align: center;
}
.edge_contain .edge_box li p {
  margin: auto;
  width: 3.84rem;
  height: auto;
  line-height: 0.42666667rem;
  font-size: 0.24rem;
  color: #999999;
}
.edge_contain .edge_box li:nth-child(1) i {
  background-position: 0 -2.86666667rem;
}
.edge_contain .edge_box li:nth-child(2) i {
  background-position: -0.96rem -2.86666667rem;
}
.edge_contain .edge_box li:nth-child(3) i {
  background-position: -1.92rem -2.86666667rem;
}
.edge_contain .edge_box li:nth-child(4) i {
  background-position: -2.88rem -2.86666667rem;
}
/*
* 数字货币交易系统板块
*/
.trade_contain {
  width: 10rem;
  height: auto;
}
.trade_contain .trade_title {
  padding: 0.66666667rem 0 1.2rem;
  width: 100%;
  height: auto;
}
.trade_contain .trade_title h1 {
  margin-bottom: 0.24rem;
  width: 100%;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.37333333rem;
  color: #333333;
  font-weight: bold;
  text-align: center;
}
.trade_contain .trade_title b {
  display: block;
  margin: auto;
  width: 1.2rem;
  height: 0.09333333rem;
  border-radius: 0.04rem;
  background-color: #249fdf;
}
.trade_contain .trade_box {
  margin: auto;
  width: 9.6rem;
  height: 8.66666667rem;
  overflow: hidden;
}
.trade_contain .trade_box .trade_left {
  float: left;
  width: 4.26666667rem;
  height: 7.93333333rem;
}
.trade_contain .trade_box .trade_right {
  float: right;
  width: 5.02666667rem;
  height: 7.10666667rem;
}
