@charset "utf-8";
body{
    background-color: #ffffff;
}
.wh(@w, @h){
    width: @w;
    height: @h;
}
.whh(@w, @h){
    width: @w;
    height: @h;
    line-height: @h;
}
.font(@s, @c){
    font-size: @s;
    color: @c;
}
.bgs(@c){
    background-color: @c;
}
.bgp(@w, @h){
    background-position: @w @h;
}
@r: 75rem;
@3: #333333;
@6: #666666;
@9: #999999;
@b: #ffffff;
/*
* banner板块
*/
.banner_contain{
    .wh(750/@r, 500/@r);
    a{
        display: block;
        .wh(100%, 100%);
        .banner_img{
            .wh(100%, 100%);
        }
    }
}
/*
* 分割块
*/
.cut_box{
    .wh(750/@r, 15/@r);
    .bgs(#f6f6f6);
}
/*
* 区块链的野蛮生长,给世界带来的三大巨变板块
*/