@charset "utf-8";
/*
* 通用常量
*/
/*
* 通用函数
*/
/*
* 分割块
*/
.cut_box {
  width: 10rem;
  height: 0.2rem;
  background-color: #f6f6f6;
}
/*
* 区块链的野蛮生长,给世界带来的三大巨变板块
*/
.change {
  width: 10rem;
  height: auto;
}
.change .change_title {
  padding-top: 0.93333333rem;
  width: 100%;
  height: auto;
  text-align: center;
}
.change .change_title h1 {
  width: 100%;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  font-size: 0.48rem;
  color: #333333;
}
.change .change_title h1 span {
  color: #0092dd;
}
.change .change_box {
  padding: 0.53333333rem 0.13333333rem;
  width: 9.73333333rem;
  height: auto;
  overflow: hidden;
}
.change .change_box .change_left,
.change .change_box .change_right,
.change .change_box .change_bottom {
  float: left;
  margin: 0.13333333rem;
  width: 4.53333333rem;
  height: 6.01333333rem;
  border: 0.02666667rem solid #069fdd;
}
.change .change_box .change_left i,
.change .change_box .change_right i,
.change .change_box .change_bottom i {
  display: block;
  margin: 0.45333333rem auto 0.33333333rem;
  width: 0.98666667rem;
  height: 0.98666667rem;
  background: url(../img/index/elves.png) no-repeat;
  background-size: 7.4rem 2.93333333rem;
}
.change .change_box .change_left h2,
.change .change_box .change_right h2,
.change .change_box .change_bottom h2 {
  margin-bottom: 0.33333333rem;
  width: 100%;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.4rem;
  color: #333333;
  text-align: center;
}
.change .change_box .change_left p,
.change .change_box .change_right p,
.change .change_box .change_bottom p {
  margin: auto;
  width: 3.73333333rem;
  height: auto;
  line-height: 0.46666667rem;
  font-size: 0.32rem;
  color: #666666;
}
.change .change_box .change_left i {
  background-position: 0 0;
}
.change .change_box .change_right i {
  background-position: -1rem 0;
}
.change .change_box .change_bottom {
  clear: both;
  width: 9.41333333rem;
  height: 3.38666667rem;
}
.change .change_box .change_bottom i {
  float: left;
  margin: 0.64rem 1.80666667rem 0.48rem;
  background-position: -2rem 0;
}
.change .change_box .change_bottom p {
  float: right;
  margin: 0.28rem 0.28rem 0.28rem 0;
  width: 4.53333333rem;
  height: auto;
}
.change .change_box .change_bottom h2 {
  float: left;
  margin-bottom: 0.93333333rem;
  width: 4.6rem;
  height: 0.34666667rem;
}
/*
* 区块链+板块
*/
.chain {
  width: 10rem;
  height: auto;
}
.chain .chain_title {
  padding: 0.93333333rem 0 0.53333333rem;
  width: 100%;
  height: auto;
  text-align: center;
}
.chain .chain_title h1 {
  width: 100%;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  font-size: 0.48rem;
  color: #333333;
}
.chain .chain_box {
  padding: 0 0.13333333rem 0.8rem;
  width: 9.73333333rem;
  height: auto;
  overflow: hidden;
}
.chain .chain_box li {
  float: left;
  margin: 0.13333333rem;
  width: 4.6rem;
  height: 3.17333333rem;
  border-radius: 0.13333333rem;
}
.chain .chain_box li .chain_content {
  padding-top: 0.53333333rem;
  width: 100%;
  height: 2.64rem;
  background-color: rgba(0, 147, 221, 0.5);
}
.chain .chain_box li .chain_content i {
  display: block;
  margin: 0 auto 0.44rem;
  width: 1.10666667rem;
  height: 1.13333333rem;
  background: url(../img/index/elves.png) no-repeat;
  background-size: 7.4rem 2.93333333rem;
}
.chain .chain_box li .chain_content h2 {
  width: 100%;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.4rem;
  color: #ffffff;
  text-align: center;
}
.chain .chain_box li.chain_a {
  background: url(../img/index/bg-1.png) no-repeat;
  background-size: 4.6rem 3.17333333rem;
}
.chain .chain_box li.chain_a .chain_content i {
  background-position: -3.01333333rem 0;
}
.chain .chain_box li.chain_b {
  background: url(../img/index/bg-2.png) no-repeat;
  background-size: 4.6rem 3.17333333rem;
}
.chain .chain_box li.chain_b .chain_content i {
  background-position: -4.14666667rem 0;
}
.chain .chain_box li.chain_c {
  background: url(../img/index/bg-3.png) no-repeat;
  background-size: 4.6rem 3.17333333rem;
}
.chain .chain_box li.chain_c .chain_content i {
  background-position: -5.28rem 0;
}
.chain .chain_box li.chain_d {
  background: url(../img/index/bg-4.png) no-repeat;
  background-size: 4.6rem 3.17333333rem;
}
.chain .chain_box li.chain_d .chain_content i {
  background-position: -6.41333333rem 0;
}
/*
* 区块链行业需要的六大安全能力板块
*/
.safety {
  width: 10rem;
  height: 7.46666667rem;
  background-color: #f9f9f9;
}
.safety .safety_title {
  padding-top: 0.93333333rem;
  width: 100%;
  height: auto;
  text-align: center;
}
.safety .safety_title h1 {
  width: 100%;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  font-size: 0.48rem;
  color: #333333;
}
.safety .safety_title h1 span {
  color: #0092dd;
}
.safety .safety_window {
  margin: auto;
  width: 9.73333333rem;
  height: 5.4rem;
  overflow: hidden;
}
.safety .safety_box {
  position: relative;
  left: 0;
  padding: 0.53333333rem 0 0.8rem;
  width: 29.2rem;
  height: 3.73333333rem;
  -webkit-transition: left .5s linear;
  -o-transition: left .5s linear;
  transition: left .5s linear;
}
.safety .safety_box li {
  float: left;
  margin: 0 0.43333333rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.02666667rem 0.28rem 0 #c8e4f3;
  box-shadow: 0 0.02666667rem 0.28rem 0 #c8e4f3;
}
.safety .safety_box li i {
  display: block;
  margin: 0.32rem auto 0.24rem;
  width: 0.88rem;
  height: 0.69333333rem;
  background: url(../img/index/elves.png) no-repeat;
  background-size: 7.4rem 2.93333333rem;
}
.safety .safety_box li h2 {
  margin-bottom: 0.24rem;
  width: 100%;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.4rem;
  color: #333333;
}
.safety .safety_box li p {
  margin: auto;
  width: 3.84rem;
  height: auto;
  line-height: 0.42666667rem;
  font-size: 0.32rem;
  color: #666666;
}
.safety .safety_box li i.safety_ia {
  background-position: 0 -1.13333333rem;
}
.safety .safety_box li i.safety_ib {
  background-position: -0.88rem -1.13333333rem;
}
.safety .safety_box li i.safety_ic {
  background-position: -1.76rem -1.13333333rem;
}
.safety .safety_box li i.safety_id {
  background-position: -2.64rem -1.13333333rem;
}
.safety .safety_box li i.safety_ie {
  background-position: -3.52rem -1.13333333rem;
}
.safety .safety_box li i.safety_if {
  background-position: -4.4rem -1.13333333rem;
}
.safety .safety_sub {
  margin: auto;
  width: 2.32rem;
  height: 0.05333333rem;
}
.safety .safety_sub li {
  float: left;
  margin: 0 0.12rem;
  width: 0.53333333rem;
  height: 0.05333333rem;
  background-color: #bce8f9;
}
.safety .safety_sub li.on {
  background-color: #2ec2f9;
}
/*
* 技术优势板块
*/
.edge {
  width: 10rem;
  height: auto;
}
.edge .edge_title {
  padding: 1.2rem 0 0.33333333rem;
  width: 100%;
  height: auto;
  text-align: center;
}
.edge .edge_title h1 {
  width: 100%;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  font-size: 0.48rem;
  color: #333333;
}
.edge .edge_box {
  margin: auto;
  width: 9.46666667rem;
  height: 7.8rem;
}
.edge .edge_box li {
  float: left;
  margin: 0.33333333rem 0.26666667rem;
  width: 4.2rem;
  height: 1.93333333rem;
}
.edge .edge_box li .edge_img {
  float: left;
  width: 1.33333333rem;
  height: 1.74666667rem;
}
.edge .edge_box li .edge_img i {
  display: block;
  width: 1.13333333rem;
  height: 1.09333333rem;
  background: url(../img/index/elves.png) no-repeat;
  background-size: 7.4rem 2.93333333rem;
}
.edge .edge_box li h2 {
  float: left;
  margin-bottom: 0.13333333rem;
  width: 2.86666667rem;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.4rem;
  color: #333333;
  font-weight: bold;
}
.edge .edge_box li p {
  float: left;
  width: 2.86666667rem;
  height: auto;
  line-height: 0.42666667rem;
  font-size: 0.32rem;
  color: #666666;
}
.edge .edge_box li i.edge_ia {
  background-position: 0 -1.82666667rem;
}
.edge .edge_box li i.edge_ib {
  background-position: -1.13333333rem -1.82666667rem;
}
.edge .edge_box li i.edge_ic {
  background-position: -2.26666667rem -1.82666667rem;
}
.edge .edge_box li i.edge_id {
  background-position: -3.4rem -1.82666667rem;
}
.edge .edge_box li i.edge_ie {
  background-position: -4.53333333rem -1.82666667rem;
}
.edge .edge_box li i.edge_if {
  background-position: -5.66666667rem -1.82666667rem;
}
/*
* 更多应用场景板块
*/
.more {
  width: 10rem;
  height: auto;
}
.more .more_title {
  padding: 0.93333333rem 0 0.66666667rem;
  width: 100%;
  height: auto;
  text-align: center;
}
.more .more_title h1 {
  width: 100%;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  font-size: 0.48rem;
  color: #333333;
}
.more .more_box {
  position: relative;
  margin: auto;
  padding-bottom: 1.04rem;
  width: 8.61333333rem;
  height: 8.21333333rem;
}
.more .more_box li {
  position: absolute;
  width: 2.74666667rem;
  height: 3.17333333rem;
}
.more .more_box li img {
  width: 100%;
  height: 100%;
}
.more .more_box li h2 {
  position: absolute;
  top: 1.38rem;
  left: 0;
  width: 100%;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.4rem;
  color: #ffffff;
  text-align: center;
}
.more .more_box li.more_a {
  top: 0;
  left: 2.93333333rem;
}
.more .more_box li.more_b {
  top: 2.49333333rem;
  left: 1.46666667rem;
}
.more .more_box li.more_c {
  top: 2.49333333rem;
  left: 4.4rem;
}
.more .more_box li.more_d {
  top: 5.04rem;
  left: 0;
}
.more .more_box li.more_e {
  top: 5.04rem;
  left: 2.93333333rem;
}
.more .more_box li.more_f {
  top: 5.04rem;
  left: 5.86666667rem;
}
