@charset "utf-8";
/*
* 通用常量
*/
/*
* 通用函数
*/
/*
* 便携式资产管理板块
*/
.portable {
  width: 10rem;
  height: auto;
}
.portable_title {
  padding: 0.66666667rem 0 0.53333333rem;
  width: 100%;
  height: auto;
  text-align: center;
}
.portable_title h1 {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  font-size: 0.48rem;
  color: #333333;
}
.portable_title p {
  width: 100%;
  height: auto;
  line-height: 0.48rem;
  font-size: 0.32rem;
  color: #666666;
}
.portable_box {
  padding-bottom: 0.53333333rem;
  width: 100%;
  height: 6.06666667rem;
  line-height: 6.06666667rem;
  text-align: center;
}
.portable_box img {
  display: inline-block;
  width: 9.73333333rem;
  height: 6.06666667rem;
  vertical-align: middle;
}
/*
* 全方位安全保障板块
*/
.security {
  width: 10rem;
  height: 10rem;
  background: url(../img/szqb/bg.png) no-repeat;
  background-size: 10rem 7.33333333rem;
  background-position: center top;
}
.security_title {
  padding: 0.66666667rem 0 0.26666667rem;
  width: 100%;
  height: auto;
  text-align: center;
}
.security_title h1 {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  font-size: 0.48rem;
  color: #ffffff;
}
.security_title p {
  width: 100%;
  height: auto;
  line-height: 0.48rem;
  font-size: 0.32rem;
  color: #ffffff;
}
.security_box {
  width: 100%;
  height: 6.26666667rem;
  line-height: 6.26666667rem;
  text-align: center;
}
.security_box img {
  display: inline-block;
  width: 10rem;
  height: 6.24rem;
  vertical-align: middle;
}
/*
* 艾特区块链数字钱包三大优势板块
*/
.edge {
  width: 10rem;
  height: auto;
  background-color: #f8f8f8;
}
.edge_title {
  padding: 0.66666667rem 0 0.53333333rem;
  width: 100%;
  height: auto;
}
.edge_title h1 {
  width: 100%;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  font-size: 0.48rem;
  color: #333333;
  text-align: center;
}
.edge_title span {
  color: #0092dd;
}
.edge_list {
  margin: auto;
  padding-bottom: 0.13333333rem;
  width: 9.46666667rem;
  height: auto;
}
.edge_list li {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 3.86666667rem;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0.02666667rem 0.28rem 0 #c6e3f1;
}
.edge_list li .edge_img {
  margin: auto;
  margin-bottom: 0.13333333rem;
  width: 0.90666667rem;
  height: 1.46666667rem;
  line-height: 1.46666667rem;
  text-align: center;
}
.edge_list li .edge_img img {
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: middle;
}
.edge_list li h2 {
  margin-bottom: 0.26666667rem;
  width: 100%;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.4rem;
  color: #333333;
}
.edge_list li p {
  width: 100%;
  height: auto;
  line-height: 0.45333333rem;
  font-size: 0.32rem;
  color: #666666;
}
.edge_list li img.edge_ia {
  width: 0.90666667rem;
  height: 0.85333333rem;
}
.edge_list li img.edge_ib {
  width: 0.8rem;
  height: 0.8rem;
}
.edge_list li img.edge_ic {
  width: 0.84rem;
  height: 0.84rem;
}
