@import "lib.less";
body{
  .bgc(@cf);
}
/*
* 创建表单
*/
.found{
  width: 750/@r;
  &_img{
    padding-bottom: 50/@r;
    border-bottom: 2/@r solid @ce;
    p{
      line-height: 32/@r;
      .fc(@s2, @c3);
      text-align: center;
    }
    input{
      display: none;
    }
  }
  &_window{
    margin-bottom: 20/@r;
    .wh(750/@r, 350/@r);
    overflow: hidden;
  }
  &_box{
    padding-bottom: 50/@r;
    .squ(100%);
    overflow-x: scroll;
  }
  &_list{
    .tanhz();
    li{
      padding: 25/@r (750-(300/350*750))/2/@r;
      img{
        display: block;
        .wh(300/350*750/@r, 300/@r);
      }
    }
    li.on img{
      box-shadow: 0 0 10/@r 6/@r @fe6986;
    }
  }
  &_name, &_label, &_condition, &_summary{
    padding: 20/@r;
    width: 710/@r;
    line-height: 50/@r;
    .fc(@s2, @c3);
    border-bottom: 2/@r solid @ce;
    input, textarea{
      display: block;
      width: 100%;
      border: none;
    }
    textarea{
      height: 4*50/@r;
    }
  }
  &_submit{
    padding-top: 65/@r;
    input{
      display: block;
      margin: auto;
      .whh(666/@r, 88/@r);
      .fc(@s1, @cf);
      text-align: center;
      border-radius: 10/@r;
      border: none;
      .bgc(@fe6986);
    }
  }
}